body {
	background-color: black;
}

#back{
	padding-bottom: 10px;
	background-color:  white;
	max-height: 800px;
}

h1{
	font-size: 30px;
	font-style: bold;
	color: white;
	text-align: center;
	margin-top: 10px;
}

form {
    margin-left: 50px;
    margin-top: 50px;
}

input {
    max-width: 50%
}